.carousel-item img {
    height: 300px;
    object-fit: cover;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
    border-radius: 50%; /* Make it circular */
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Darker on hover */
}